body {
    margin: 0px;
}
  
header {
    background-image: url("images/header_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header h1 {
    width: 780px;
    font-size: 2.5em;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media (max-width: 600px){
    header h1 {
        font-size: 1em;
        font-family: 'Poppins', sans-serif;
    }
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  
    font-size: 1em;
    padding: 30px;
}

@media (max-width: 600px){
    header nav {      
        font-size: 0.6em;
        padding: 10px;
    }
}

#menu, footer{
    font-family: 'Merriweather', serif;
    font-style: normal;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

#menu a {
    margin: 15px;
}

@media (max-width: 600px){
    #menu a {
        margin: 5px;
    }
}  

a {
    cursor: pointer;
}

#avatar{
    display: block;
    margin: -50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: darkturquoise;
    border-radius: 50px;
}

#pageInfo{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

@media (max-width: 600px){
    #pageInfo{
        font-size: 0.8em;
    }
} 

.page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 600px){
    .page{
        display: flex;
        justify-content: center;
        font-size: .6em;
        margin-top: 50px;
    }
}  

.sidebar{
    display: flex;
    margin-right: 40px;
}

.id{
    font-family: 'Lobster', cursive;
}

.crypto {
    padding-bottom: 20px;
    width: 66.67%;
}

@media (max-width: 500px){
    .crypto {
        padding-bottom: 20px;
        width: 75%;
    }
}

.crypto_name{
    font-size: 1.5em;
    font-style: oblique;
    font-family: 'Source Serif 4', sans-serif;
}

.crypto_tag{
    font-size: .6em;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: blue;
}


.paragraph {
    font-size: 1.2em;
    height: auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
}

.chart{
    width: 100%;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

footer {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    height: 25%;
    padding: 75px;
}

@media (max-width: 500px){
    footer{
        font-size: 0.7em;
    }
}

footer nav{
    position: relative;
    top: 35%;
}

footer a{
    color: white;
}

footer a:hover{
    color: green;
    font-size: 1.1em;
}