body {
    margin: 0;
    background-color: azure;
  }
  
header {
    background-image: url("images/header_bg.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

header h1 {
    width: 780px;
    font-size: 45px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  
    font-size: 25px;
    padding: 30px;
}

#links {
    font-family: 'Merriweather', serif;
    font-style: normal;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

#links a {
    margin: 15px;
  }

a {
    cursor: pointer;
}

#avatarContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: -50px;
}

#avatar{
    background-color: darkturquoise;
    border-radius: 50px;
}

#avatarContainer p{
    font-weight: bold;
    font-size: 20px;
}

.page{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.sidebar{
    display: flex;
    margin-right: 40px;
}

.id{
    font-family: 'Lobster', cursive;
}

.crypto {
    padding-bottom: 20px;
    width: 66.67%;
}

.crypto_name{
    font-size: 25px;
    font-style: oblique;
    font-family: 'Source Serif 4', sans-serif;
}

.crypto_tag{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Merriweather', serif;
    color: blue;
}


.paragraph {
    font-size: 22px;
    height: auto;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
}

.chart{
    width: 100%;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

footer {
    background-color: black;
    height: 100px;
}